.simple-steps-main {
  background-image: url(../images/background-png/stap-mobile.png);
  background-repeat: no-repeat;
  background-position: 20% 0%;
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/background-png/stap-mobile@2x.png);
  }
  @media screen and (min-width: 48em) {
    background-image: url(../images/background-png/stap.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/background-png/stap@2x.png);
    }
  }
  @media screen and (min-width: 75em) {
    background-image: url(../images/background-png/stap-dectop.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/background-png/stap-dectop@2x.png);
    }
  }
}

.simple-steps-main__title {
  @extend %sec-title-style;
  padding-bottom: 15px;
}

.simple-steps-main__title--dark {
  color: $banner-title-text-color;
  background-color: $title-text-color;
}

.simple-steps-main__text {
  @extend %sec-title-text-style;
  padding-bottom: 50px;
  &::before {
    @extend %pseudos;
    content: '';
    left: -15px;
    top: 8px;
    width: 20px;
    height: 2px;
    background-color: $title-text-color;
  }
}

.simple-steps-additional__subtitle {
  @extend %third-titel-style;
  &::before {
    content: '';
    @extend %pseudos;
    left: -15px;
    top: 20px;
    width: 10px;
    height: 10px;
    background-color: $btn-hover-bg;
  }
}

.simple-steps-additional__text--light {
  @extend %main-page-font;
}

.simple-steps-additional__block {
  padding-bottom: 30px;
}

.simple-steps-additional {
  list-style-type: decimal-leading-zero;
  font-size: remy(25);
  padding-top: 5px;
  line-height: 1.16px;
  color: $title-text-color;
  font-family: $section-title-font;
  @media screen and (min-width: 48em) {
    font-size: remy(17);
  }
  @media screen and (min-width: 75em) {
    font-size: remy(19);
  }
}

.simple-steps-additional__text-decorative {
  @extend %accent-text;
  &::before {
    content: '';
    @extend %pseudos;
    left: -10px;
    top: 10px;
    width: 10px;
    height: 2px;
    background-color: $title-text-color;
    transform: skewY(-45deg);
  }
}
