*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  font-size: 100%;
}

body {
  font-family: $main-page-font;
  color: $main-text-color;
  font-size: remy(13.5);
  line-height: 1.44;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}