@font-face {
  font-family: 'Acrom-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/AcromRegular/Acrom-Regular.woff2') format('woff2'),
    url('../fonts/AcromRegular/Acrom-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Acrom-Bold';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/AcromBold/Acrom-Bold.woff2') format('woff2'),
    url('../fonts/AcromBold/Acrom-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Acrom-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/AcromExtraBold/Acrom-ExtraBold.woff2') format('woff2'),
    url('../fonts/AcromExtraBold/Acrom-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Acrom-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/AcromMedium/Acrom-Medium.woff2') format('woff2'),
    url('../fonts/AcromMedium/Acrom-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/GilroyLight/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/GilroyLight/Gilroy-Light.woff') format('woff');
}
