/* Vendors */
@import "../../node_modules/bootstrap-scss/bootstrap.scss";

/* Helpers */
@import './helpers/variables';
@import './helpers/functions';
@import './helpers/mixins';
@import './helpers/helpers'; // Class & placeholders

/* Base */
@import './base/normalize';
@import './base/base';  // base style for elements

/* Components */
@import './component/page-footer/advertising.scss';

/* Layout */
@import './layout/page-footer/page-footer__main.scss';
@import './layout/page-footer/page-footer__bottom.scss';
@import './layout/page-footer/law-info.scss';
@import './layout/section14-16/section-14-justnow/section-14-justnow.scss';