@import '../../node_modules/bootstrap-scss/bootstrap-grid';

/* Helpers */
@import './base/fonts';
@import './helpers/variables';
@import './helpers/functions';
@import './helpers/mixins';
@import './helpers/helpers'; // Class & placeholders

/* Base */
@import './base/normalize';
@import './base/base'; // base style for elements

/* Components */
@import './component/page-footer/advertising.scss';
@import './component/page-footer/social-list';
@import './component/page-footer/main-contacts__button';

/* Layout */
@import './layout/banner/banner';
@import './layout/section8/section8.scss';
@import './layout/section9/section9.scss';
@import './layout/page-footer/main-contacts.scss';
@import './layout/page-footer/page-footer__main.scss';
@import './layout/page-footer/page-footer__bottom.scss';
@import './layout/page-footer/law-info.scss';
@import './layout/section14-16/section-14-justnow/section-14-justnow.scss';