
@import '../../node_modules/bootstrap-scss/bootstrap.scss';

/* Helpers */
@import './base/fonts';
@import './helpers/variables';
@import './helpers/functions';
@import './helpers/mixins';
@import './helpers/helpers'; // Class & placeholders

/* Base */
@import './base/normalize';
@import './base/base'; // base style for elements

/* Components */
@import './component/page-footer/advertising.scss';
@import './component/page-footer/social-list';
@import './component/page-footer/main-contacts__button';

/* Layout */
@import './layout/page-header/page-header.scss';
@import './layout/page-banner/page-banner.scss';
@import './layout/section-start-it/section-start-it.scss';
@import './layout/section-facts/section-facts.scss';
@import './layout/section-except-numbers/section-except-numbers.scss';
@import './layout/section-examples/section-examples.scss';
@import './layout/section-warning/section-warning.scss';
@import './layout/section8/section8.scss';
@import './layout/section9/section9.scss';
@import './layout/section10-presentation/presentation.scss';
@import './layout/page-footer/main-contacts.scss';
@import './layout/page-footer/page-footer__main.scss';
@import './layout/page-footer/page-footer__bottom.scss';
@import './layout/page-footer/law-info.scss';

@import './layout/section11/section-awards.scss';
@import './layout/section11/section-university.scss';
@import './layout/section12/section12.scss';
@import './layout/section13/section13.scss';

@import './layout/section14-16/section-14-justnow/section-14-justnow.scss';
@import './layout/section14-16/section-15/section-15.scss';
@import './layout/section-get-yout-bonus/section-get-tour-bonus.scss';
@import './layout/section-get-yout-bonus/main-form.scss';
@import './layout/section-important/section-important.scss';
@import './layout/section-just-do-it/section-just-do-it.scss';