/* Class for container */

.container {
  max-width: 44.5625rem;
  min-width: 30rem;
  margin: 0 auto;

  @media (min-width: 48em) {
    max-width: 640px;
  }

  @media (min-width: 75em) {
    max-width: 713px;
  }
}

/* Class for row */

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.box {
  height: 100px;
  background-color: red;
}

[class*='col-'] {
  padding-left: 15px;
  padding-right: 15px;
}

/* Class for cols */

.col-1 {
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-2 {
  flex-basis: 16.666%;
  max-width: 16.666%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-5 {
  flex-basis: 41.666%;
  max-width: 41.666%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-8 {
  flex-basis: 66.666%;
  max-width: 66.666%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-11 {
  flex-basis: 91.666%;
  max-width: 91.666%; 
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}


@media (min-width: 48em) {
  .col-md-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-md-2 {
    flex-basis: 16.666%;
    max-width: 16.666%;
  }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-md-5 {
    flex-basis: 41.666%;
    max-width: 41.666%;
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-md-8 {
    flex-basis: 66.666%;
    max-width: 66.666%;
  }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-md-11 {
    flex-basis: 91.666%;
    max-width: 91.666%;
  }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}


@media (min-width: 75em) {
  .col-xl-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-xl-2 {
    flex-basis: 16.666%;
    max-width: 16.666%;
  }

  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-xl-5 {
    flex-basis: 41.666%;
    max-width: 41.666%;
  }

  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-xl-8 {
    flex-basis: 66.666%;
    max-width: 66.666%;
  }

  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-xl-11 {
    flex-basis: 91.666%;
    max-width: 91.666%;
  }

  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}