$main-text-color: #3f4144;
$title-text-color: #000000;
$banner-title-text-color: #ffffff;
$banner-text-color: #afb0b3;
$rotate-elem-text-color: #f7f7f7;

$main-style-color: #ff6b08;
$addition-style-color: #16ebfe;
$banner-bg-color: #181c27;
$banner-text-opacity: 0.2;
$banner-company-text-color: rgb(0,0,0);
$price-strike-color: #3c3b40;

$btn-active-bg: #06a4b2;
$btn-hover-bg: #17ecff;

$main-page-font: "Acrom-Regular", sans-serif;
$section-title-font: "Acrom-Bold",sans-serif;
$style-font: "Acrom-Medium", sans-serif;
$special-font: 'Acrom-ExtraBold', sans-serif;
$footer-main-font:  "Gilroy-Light", sans-serif;