$main-text-color: #3f4144;
$title-text-color: #000000;
$banner-title-text-color: #ffffff;
$banner-text-color: #afb0b3;
$rotate-elem-text-color: #f7f7f7;

$main-style-color: #ff6b08;
$addition-style-color: #16ebfe;

$main-page-font: "Acrom-Regular", sans-serif;
$section-title-font: "Acrom-Bold",sans-serif;
$section-acent-font: "Acrom-ExtraBold", sans-serif;
$style-font: "Acrom-Medium", sans-serif;
$footer-main-font:  'Gilroy-Light', sans-serif;