@import "../../helpers/helpers";
@import "../../helpers/variables";

.section-expert {
  position: relative;
  padding-bottom: 110px;

  @media (max-width: 767px) {
    padding-bottom: 70px;
  }
}

.section-expert__title {
  @extend %sec-title-style;
  padding-bottom: 25px;

  @media (max-width: 767px) {
    margin: 0 auto;
    text-align: center;
  }

  @media (min-width: 768px) {
    padding: 0 0 10px;
  }
}

.section-expert__desc {
  @extend %sec-title-text-style;
  position: relative;
  padding: 0 0 40px 25px;

  &--blue {
    background-color: $addition-style-color;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
  }

  &::before {
    content: '';
    @extend %pseudos;
    top: 7px;
    left: 0;
    width: 15px;
    border-bottom: 3px solid $title-text-color;
  }

  @media (min-width: 768px) {
    padding: 0 0 20px 45px;
    margin-top: 0;
    margin-bottom: 0;

    &::before {
      width: 30px;
      border-bottom: 3px solid $title-text-color;
    }
  }
}

.section-expert__image {
  @media (max-width: 767px) {
    margin: 0 auto 40px;
  }

  @media (min-width: 768px) {
    position: absolute;
  }
}

.section-expert__list {
  @media (max-width: 767px) {
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.section-expert__item {
  list-style: none;
  position: relative;

  &:not(:last-child) {
    @media (max-width: 767px) {
      padding: 0 0 30px;
    }

    @media (min-width: 768px) {
      padding: 0 0 15px;
    }
  }

  &--title {
    @extend %third-titel-style;
    padding: 0 0 5px 15px;

    &::before {
      content: '';
      @extend %pseudos;
      top: 5px;
      left: 0;
      width: 7px;
      border-bottom: 7px solid $title-text-color;
    }

    @media (min-width: 768px) {
      &::before {
        top: 2px;
      }
    }
  }

  &--desc {
    @extend %main-page-font;
    margin: 0;
    padding: 0 0 0 15px;

    @media (max-width: 767px) {
      margin: 0 auto;
    }
  }
}
