@import "../../helpers/helpers";
@import "../../helpers/variables";

.section-expert {
  position: relative;
  padding-bottom: 110px;
}

.section-expert__title {
  @extend %sec-title-style;
  padding-bottom: 25px;

  @media (max-width: 768px) {
    margin: 0 auto;
    text-align: center;
  }

  @media (min-width: 768px) {
    padding: 0 0 10px;
  }
}

.section-expert__desc {
  @extend %sec-title-text-style;
  position: relative;
  padding: 0 0 40px 30px;

  &--blue {
    background-color: rgb(22, 235, 254);
  }
  @media (max-width: 768px) {
    margin: 0 auto;
  }

  &::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 17px;
    margin-right: 5px;
    display: block;
    border-bottom: 2px solid rgb(0, 0, 0);
  }

  @media (min-width: 768px) {
    padding: 0 0 20px 45px;
    margin-top: 0;
    margin-bottom: 0;

    &::before {
      width: 30px;
      border-bottom: 3px solid rgb(0, 0, 0);
    }
  }
}

.section-expert__image {
  @media (max-width: 768px) {
    margin: 0 auto 40px;
  }

  @media (min-width: 768px) {
    position: absolute;
  }
}

.section-expert__list {
  @media (max-width: 768px) {
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.section-expert__item {
  padding: 0 0 30px;
  list-style: none;
  position: relative;

  @media (min-width: 768px) {
    &:not(nth-last-child) {
      padding: 0 0 15px;
    }
  }

  &--title {
    @extend %third-titel-style;
    padding: 0 0 5px 15px;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 7px;
      margin-right: 8px;
      display: block;
      border-bottom: 7px solid rgb(0, 0, 0);
    }

    @media (min-width: 768px) {
      &::before {
        top: 2px;
      }
    }
  }

  &--desc {
    @extend %main-page-font;
    margin: 0;
    padding: 0 0 15px;

    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }
}
