.career-main {
  padding: 20px 0 20px;
  @media screen and (min-width: 48em) {
    padding: 30px 0 55px;
  }
  @media screen and (min-width: 75em) {
    padding: 40px 0 65px;
  }
}

.career-additional__title {
  @extend %sec-title-style;
  padding-bottom: 15px;
  @media screen and (min-width: 48em) {
    padding-bottom: 25px;
  }
}

.career-additional__text {
  @extend %sec-title-text-style;
  padding-bottom: 30px;
  @media screen and (min-width: 48em) {
    padding-bottom: 40px;}
  @media screen and (min-width: 75em) {
    padding-bottom: 45px;}
  &::before {
    content: '';
    position: absolute;
    display: block;
    left: -15px;
    top: 10px;
    width: 20px;
    height: 2px;
    background-color: $title-text-color;
  }
}

.career-main__subtitle {
  @extend %third-titel-style;
  padding: 20px 0 25px;
  @media screen and (min-width: 48em) {
    padding-bottom: 15px;}
   &::before {
    content: '';
    position: absolute;
    display: block;
    left: -15px;
    top: 30px;
    width: 5px;
    height: 5px;
    background-color: $title-text-color;
  }
  @media screen and (min-width: 48em) {
    &::before {
      left: 15px;
      top: 0px;}}
}

.—Åareer-main__text--light {
  @extend %main-page-font;
}
