.career {
  padding: 20px 0 20px;
  @media screen and (min-width: 48em) {
    padding: 30px 0 55px;
  }
  @media screen and (min-width: 75em) {
    padding: 40px 0 65px;
  }
}

.career__main-title {
  @extend %sec-title-style;
  padding-bottom: 15px;
  @media screen and (min-width: 48em) {
    padding-bottom: 25px;
  }
}

.career__text {
  @extend %sec-title-text-style;
  padding-bottom: 30px;
  @media screen and (min-width: 48em) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 75em) {
    padding-bottom: 45px;
  }
}

.career__titel {
  font-family: $special-font;
  font-size: remy(15);
  line-height: 1.53;
  color: $title-text-color;
  text-transform: uppercase;
  padding-bottom: 25px;
  @media screen and (min-width: 48em) {
    font-size: remy(9);
    padding-bottom: 15px;
  }
  @media screen and (min-width: 75em) {
    font-size: remy(10);
  }
}

.career__text-light {
  font-family: $main-page-font;
  font-size: remy(14);
  line-height: 1.45;
  color: $main-text-color;
  @media screen and (min-width: 48em) {
    font-size: remy(8);
  }
  @media screen and (min-width: 75em) {
    font-size: remy(9);
  }
}
