@font-face {
  font-family: 'Acrom-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/AcromRegular/Acrom-Regular.woff2') format('woff2'),
    url('../fonts/AcromRegular/Acrom-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Acrom-Bold';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/AcromBold/Acrom-Bold.woff2') format('woff2'),
    url('../fonts/AcromBold/Acrom-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Acrom-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/AcromExtraBold/Acrom-ExtraBold.woff2') format('woff2'),
    url('../fonts/AcromExtraBold/Acrom-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Acrom-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/AcromMedium/Acrom-Medium.woff2') format('woff2'),
    url('../fonts/AcromMedium/Acrom-Medium.woff') format('woff');
}

.section {
  
}

.section__img {
  margin: 0 auto;
}

.section__title {
  font-family: "Acrom-Medium", sans-serif;
  font-size: 14px;
  color: $main-style-color;
  line-height: 1.5;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 20px;
}

.section__title::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 35px;
  width: 10px;
  height: 10px;
  background-position: center;
  background-image: linear-gradient(120deg,transparent 50%,#000,transparent 65%);
  background-repeat: no-repeat;
}

.section__reverse {
  font-family: "Acrom-Bold",sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background-color: black;
  color: $banner-title-text-color;
  margin-bottom: 20px;
}

.section__text {
  font-family: "Acrom-Medium", sans-serif;
  font-size: 13.5px;
  font-weight: 600;
  margin-bottom: 56px;
}

.section__text::before {
  content: '';
  position: absolute;
  display: block;
  left: -15px;
  top: 10px;
  width: 18px;
  height: 2px;
  background-color: $title-text-color;
}

.info {

}

.info__about {
  font-family: 'Acrom-ExtraBold', sans-serif;
  font-size: 13.5px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 30px;;
}

.list {
  list-style: none;
}

.list__title {
  font-family: "Acrom-Bold",sans-serif;
  font-size: 13.5px;
}

.list__text {
  word-wrap: break-word;
}