.only-now-main {
  position: relative;
  padding: 20px 0 45px;
  @media screen and (min-width: 48em) {
    padding: 30px 0 50px;
  }
  @media screen and (min-width: 75em) {
    padding: 40px 0 65px;
  }
  &::before {
    content: 'IT';
    @extend %pseudos;
    top: -30px;
    left: 40%;
    transform: rotate(90deg);
    z-index: -1;
    color: $rotate-elem-text-color;
    font-family: $special-font;
    font-size: remy(226);
    @media screen and (min-width: 48em) {
      font-size: remy(198);
      left: 20%;
    }
    @media screen and (min-width: 75em) {
      font-size: remy(221);
      left: 10%;
    }
  }
}

.only-now-main__title {
  padding-top: 30px;
  padding-bottom: 20px;
}

.only-now__subtitle {
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (min-width: 48em) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.only-now-main__text--decorative {
  padding: 30px 0 25px;
  &::before {
    @extend %pseudo-slash;
    top: 50px;
    left: -20px;
    @media screen and (min-width: 48em) {
      top: 25px;
      left: -25px;
    }
  }
  @media screen and (min-width: 48em) {
    padding-top: 0px;
  }
}
