.main-contacts__call-button {
  display: flex;
  justify-content: flex-end;
}

.main-contacts__button {
  display: inline-block;
  font-family: $special-font;
  font-size: remy(7);
  color: #ffffff;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  border-width: 0.625px;
  border-color: #1b4371;
  border-style: solid;
  margin-left: -15px;
  padding: 6px 6px;
  transition: all 0.2s linear;

  @media screen and (min-width: 30em) {
    padding: 10px 20px;
    font-size: remy(8);
  }

  @media screen and (min-width: 36em) {
    padding: 10px 24px;
    font-size: remy(8);
  }

  @media screen and (min-width: 48em) {
    padding: 14px 30px;
    font-size: remy(10);
  }

  @media screen and (min-width: 62em) {
    padding: 16px 34px;
  }

  &:hover,
  &:focus {
    @extend %btn-hover;
  }

  &:active {
    @extend %btn-active;
  }
}
