.social-list {
  @extend %list;
  display: none;

  @media screen and (min-width: 48em) {
    display: block;
    @include flex-center('column');
  }

  &__item {
    font-family: $section-title-font;
    font-size: remy(11);

    @media screen and (min-width: 62em) {
      font-size: remy(12);
    }

    @media screen and (min-width: 75em) {
      font-size: remy(13);
    }
  }

  &__link:not(:last-of-type) {
    margin-bottom: 1px;
  }

  &__link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s linear;

    &:hover,
    &:focus {
      color: $main-style-color;
      text-decoration: none;
    }
  }
}
