.time-to {
    padding-top: 58px;
    @media (min-width: 48em) {
        padding-top: 112px;
    }
}


.time-to__question--mobile {
    font-family: $style-font;
    color: $title-text-color;
    margin: 0;
    padding-bottom: 27px;
    
    @media (min-width: 48em) {
        display: none;
    }
}

.time-to__question--tablet {
    @extend %sec-title-text-style;
    text-transform: none;
    display: none;
    margin: 0;
    padding-bottom: 27px;
    
    @media (min-width: 48em) {
        display: block;
    }
}

.time-to__img {
    margin-bottom: 45px;

    @media (min-width: 48em) {
        margin-bottom: 66px;
    }
}

.time-to__main-text {
    @extend %article-title-style;
    color: $title-text-color;
    font-size: remy(15);
    margin-bottom: 45px;
}

.time-to__offer {
position: relative;
padding-left: 40px;

    &:before {
        @extend %pseudos;
        top: 8px;
        left: 0px;
        content: '';
        width: 26px;
        height: 4px;
        background-color: $title-text-color;

        @media (min-width: 48em) {
            top: 2px;
        }
    }

    @media (min-width: 48em) {
        font-size: remy(10);
    }

    @media (min-width: 75em) {
        font-size: remy(11);
    }
}

.time-to__title {
    font-size: remy(20);

    &__span {
        background-color: $title-text-color;
        color: $banner-title-text-color;
    }
    @media (min-width: 48em) {
        font-size: remy(27);
    }

    @media (min-width: 75em) {
        font-size: remy(30);
    }
}

.time-to-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 47px;
    list-style: none;
    padding: 0;
    position: relative;

    &:before {
        @extend %pseudos;
        @extend %article-title-style;
        content: 'YOU';
        top: -150px;
        left: -90px;
        color: $title-text-color;
        font-size: remy(98);
        opacity: 0.05;
        transform: rotate(90deg);
        z-index: -1;

        @media (min-width: 48em) {
            font-size: remy(140);
            top: -80px;
            left: -75px;
        }

        @media (min-width: 75em) {
            font-size: remy(156);
            top: -35px;
            left: -310px;
        }
    }

    @media (min-width: 48em) {
        margin-bottom: 15px;
    }
}

.time-to-list__title {
    @extend %article-title-style;
    margin-bottom: 20px;

    @media (min-width: 48em) {
        font-size: remy(16.8);
    }

    @media (min-width: 75em) {
        font-size: remy(19);
    }
}

.time-to-list__item {
position: relative;
margin-bottom: 24px;

&:last-child {
    margin-bottom: 0;  
}

&:nth-last-child(-n+4) {
    @media (min-width: 48em) {
        margin-bottom: 0;
    }

    @media (min-width: 75em) {
        margin-bottom: 20px;
    }
}

@media (min-width: 75em) {
    margin-bottom: 20px;
}

&__span {
    font-family: $section-title-font;
}

&:before {
    @extend %pseudos;
    content: '';
    top: 6px;
    left: -16px;
    display: block;
    width: 8px;
    height: 8px;
    background-color: $title-text-color;
    
    @media (min-width: 48em) {
        display: none;
        margin-bottom: 20px;
    }
}

@media (min-width: 48em) {
    font-size: remy(9);
}

@media (min-width: 75em) {
    font-size: remy(10);
}
}

.time-to__action {
    @extend %accent-text;

    @media (min-width: 75em) {
        position: relative;
        top: -80px;
    }
}
