.main-contacts {
  padding: 31px 0;

  @media screen and (min-width: 48em) {
    padding: 50px 0;
  }

  @media screen and (min-width: 75em) {
    padding: 54px 0;
  }
}

.page-footer__logo {
  width: 40px;
  height: 12px;

  @media screen and (min-width: 48em) {
    width: 64px;
    height: 20px;
  }

  @media screen and (min-width: 75em) {
    width: 70px;
    height: 24px;
  }
}

.main-contacts__separate-section {
  @include flex-center('column');
}

.main-contacts__title {
  color: #ffffff;
  font-family: $special-font;
  font-size: remy(10);
  text-transform: uppercase;
  margin-bottom: 4px;

  @media screen and (min-width: 48em) {
    font-size: remy(12);
    margin-bottom: 6px;
  }

  @media screen and (min-width: 75em) {
    font-size: remy(14);
    margin-bottom: 8px;
  }
}

.main-contacts__text {
  margin: 0;
  padding: 0;
  font-family: $main-page-font;
  color: #a2a2a2;
  font-size: remy(9);

  @media screen and (min-width: 48em) {
    font-size: remy(10);
  }

  @media screen and (min-width: 75em) {
    font-size: remy(12);
  }
}