.page-footer__main {
  height: 104px;
  background-color: #181c27;
}

@media screen and (min-width: 48em) {
  .page-footer__main {
    height: 150px;
  }
}

@media screen and (min-width: 75em) {
  .page-footer__main {
    height: 168px;
  }
}
