.section-university {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
}


.section-university__title--main {
  font-family: $special-font;
  font-size: 18px;
  line-height: 23.4px;
  text-transform: uppercase;
  padding: 0 0 24px;

  @media (max-width: 768px) {
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    font-size: 27px;
    line-height: 33.7px;
    padding: 0 0 30px;
  }
  @media (min-width: 1200px) {
    font-size: 30px;
    line-height: 37.5px;
  }
}

.section-university__desc--main {
  position: relative;
  margin: 0;

  @media (max-width: 768px) {
    display: none;
  }

  @media (min-width: 768px) {
    padding-left: 45px;
    font-family: $style-font;
    font-size: 9px;
    line-height: 13.5px;

  }
  @media (min-width: 1200px) {
    font-size: 10px;
    line-height: 15px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 30px;
    margin-right: 7px;
    display: block;
    border-bottom: 3px solid rgb(0, 0, 0);
  }
}


.section-university__title {
  font-family: $special-font;
  font-size: 13.5px;
  line-height: 19.5px;
  text-transform: uppercase;
  padding: 0 0 20px;

  @media (max-width: 768px) {
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    font-size: 9px;
    line-height: 15px;
    padding-bottom: 30px;
    margin-left: 55px;
  }
  @media (min-width: 1200px) {
    font-size: 10px;
    line-height: 16.2px;
  }
}

.section-university__desc {
  font-family: $main-page-font;
  font-size: 13.5px;
  line-height: 19.5px;
  padding: 0 0 40px;
  margin: 0;

  @media (max-width: 768px) {
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    font-size: 8px;
    line-height: 12px;
    padding: 0;
  }
  @media (min-width: 1200px) {
    font-size: 9px;
    line-height: 13px;
  }
}

.section-university__image {
  width: 100%;
  padding: 0 0 60px;

  @media (min-width: 768px) {
    padding: 0;
  }
}


.education-section__desc--mobile {
  margin: 0 auto;
  font-family: $style-font;
  font-size: 13.5px;
  line-height: 19.5px;
  position: relative;
  padding: 0 0 0 25px;

  @media (min-width: 768px) {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 20px;
    margin-right: 5px;
    display: block;
    border-bottom: 2px solid rgb(0, 0, 0);
  }
}
