@import "../../helpers/helpers";
@import "../../helpers/variables";

.section-university {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
}


.section-university__title--main {
  @extend %sec-title-style;
  padding: 0 0 24px;

  @media (max-width: 767px) {
    margin: 0 auto;
  }
  @media (min-width: 768px) {
    padding: 0 0 30px;
  }
}

.section-university__desc--main {
  @extend %sec-title-text-style;
  position: relative;
  margin: 0;

  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) {
    padding-left: 45px;
  }

  &::before {
    content: '';
    @extend %pseudos;
    top: 5px;
    left: 0;
    width: 30px;
    border-bottom: 3px solid $title-text-color;
  }
}


.section-university__title {
  @extend %third-title-style;
  padding: 0 0 20px;

  @media (max-width: 767px) {
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    padding-bottom: 30px;
    margin-left: 55px;
  }
}

.section-university__desc {
  @extend %main-page-font;
  padding: 0 0 40px;
  margin: 0;

  @media (max-width: 767px) {
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    padding: 0;
  }
}

.section-university__image {
  width: 100%;
  padding: 0 0 60px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.education-section__desc--mobile {
  @extend %sec-title-text-style;
  margin: 0 auto;
  position: relative;
  padding: 0 0 0 27px;

  @media (min-width: 768px) {
    display: none;
  }

  &::before {
    content: '';
    @extend %pseudos;
    top: 7px;
    left: 0;
    width: 17px;
    border-bottom: 3px solid $title-text-color;
  }
}
