@import "../../helpers/helpers";
@import "../../helpers/variables";

.section-awards {
  padding: 0;

  @media (min-width: 768px) {
    margin-bottom: 90px;
  }
}

.section-awards__items {
  list-style: none;

  @media (max-width: 767px) {
    margin: 0 auto;
  }

  &--icon {
    background-image: url("./images/main-images/decorative-images/un.png");
    background-repeat: no-repeat;
    background-position: 90% 0;
    background-size: 85px 75px;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url("./images/main-images/decorative-images/un@2x.png");
    }
    @media (min-width: 768px) {
      background-size: 75px 65px;
    }
  }
}

.section-awards__title {
  @extend %third-title-style;
  padding: 40px 0 10px;

  &--dark {
    font-family: $style-font;
    color: $banner-title-text-color;
    background: $title-text-color;
    font-size: 13px;
    line-height: 16px;
    padding: 0;

    @media (min-width: 768px) {
      font-size: 9px;
      line-height: 12px;
    }
    @media (min-width: 1200px) {
      font-size: 10px;
      line-height: 13px;
    }
  }

  @media (max-width: 767px) {
    width: 220px;
  }
  @media (min-width: 768px) {
    padding: 30px 0 7px;
  }
}

.section-awards__title--dark-position {
  white-space: nowrap;
  position: absolute;
  top: 5px;
}

.section-awards__desc {
  @extend %main-page-font;
  margin: 0;
  padding: 0 0 40px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.section-awards__desc--bold {
  font-family: $section-title-font;
}

.section-awards__desc--light {
  margin: 0;
}

.section-awards__image {
  flex-shrink: 0;

  &--main {
    width: 100%;
  }
}

