.header {
  background-color: #ccc;
}

.header__btn {
  border: none;
  background-color: transparent;
}

.header__img {
  width: 28px;
  height: 17px;
  fill: $banner-title-text-color;
}