.presentation-main {
  padding: 20px 0 45px;
  @media screen and (min-width: 48em) {
    padding: 30px 0 50px;
  }
  @media screen and (min-width: 75em) {
    padding: 40px 0 65px;
  }
}

.presentation-main__title {
  @extend %sec-title-style;
  padding-bottom: 15px;
}

.presentation-main__text {
  @extend %sec-title-text-style;
  position: relative;
  &::before {
    @extend %pseudos;
    content: '';
    left: -20px;
    top: 8px;
    width: 20px;
    height: 2px;
    background-color: $title-text-color;
    @media screen and (min-width: 48em) {
      width: 26px;
      height: 4px;
    }
  }
}

.presentation-additional__block {
  padding: 35px 0 50px;
  @media screen and (min-width: 48em) {
    padding: 55px 0 20px;
  }
  @media screen and (min-width: 75em) {
    padding: 60px 0 20px;
  }
}

.presentation-main__subtitle {
  @extend %third-title-style;
  padding-top: 25px;
  @media screen and (min-width: 48em) {
    padding-top: 64px;
  }
  @media screen and (min-width: 75em) {
    padding-top: 69px;
  }
}

.presentation-additional__block {
  @extend %list;
}

.presentation-additional__text--bold {
  @extend %bold-text-style;
}

.presentation-additional__text--light {
  @extend %main-page-font;
}

.presentation-additional__text--decorative {
  @extend %accent-text;
  &::before {
    content: '';
    @extend %pseudos;
    left: -15px;
    top: 7px;
    width: 10px;
    height: 2px;
    background-color: $title-text-color;
    transform: skewY(-45deg);
  }
}

.presentation-additional__item {
  &::before {
    content: ' ';
    @extend %pseudos;
    left: -35px;
    top: 25px;
    width: 50px;
    height: 15px;
    transform: rotate(-90deg);
    color: #fff;
    background-color: #ff6b08;
    text-align: center;
    font-family: $section-title-font;
    font-size: remy(12);
    line-height: 1.45;
    @media screen and (min-width: 48em) {
      width: 20px;
      height: 10px;
      font-size: remy(7);
      top: 10px;
      left: -15px;
    }
    @media screen and (min-width: 75em) {
      width: 23px;
      height: 9px;
      top: 10px;
      font-size: remy(6);
    }
  }
}

.presentation-additional__item:nth-child(1) {
  &::before {
    content: '[001]';
  }
}

.presentation-additional__item:nth-child(2) {
  &::before {
    content: '[002]';
  }
}

.presentation-additional__item:nth-child(3) {
  &::before {
    content: '[003]';
  }
}

.presentation-additional__item:nth-child(4) {
  &::before {
    content: '[004]';
  }
}

.presentation-additional__item:nth-child(5) {
  &::before {
    content: '[005]';
  }
}

.presentation-additional__item:nth-child(6) {
  &::before {
    content: '[006]';
  }
}

.presentation-additional__btn {
  margin-top: 40px;
  font-size: remy(11);
  line-height: 50px;
  @media screen and (min-width: 48em) {
    line-height: 20px;
    font-size: remy(6);
    margin-top: 0px;
  }
  @media screen and (min-width: 75em) {
    font-size: remy(7);
  }
  &:hover {
    @extend %btn-hover;
  }
  &:active {
    @extend %btn-active;
  }
}
