.presentation-main {
  padding: 20px 0 45px;
  @media screen and (min-width: 48em) {
    padding: 30px 0 50px;
  }
  @media screen and (min-width: 75em) {
    padding: 40px 0 65px;
  }
}

.presentation-main__title {
  @extend %sec-title-style;
  padding: 40px 0 15px;
}

.presentation-main__text {
  @extend %sec-title-text-style;
  position: relative;

  &::before {
    @extend %pseudos;
    content: '';
    left: -30px;
    top: 8px;
    width: 20px;
    height: 2px;
    background-color: $title-text-color;
    @media screen and (min-width: 48em) {
      width: 26px;
      height: 4px;
    }
  }
}

.presentation-additional__block {
  padding: 35px 0 50px;
  @media screen and (min-width: 48em) {
    padding: 55px 0 20px;
  }
  @media screen and (min-width: 75em) {
    padding: 60px 0 20px;
  }
}

.presentation-main__subtitle {
  font: remy(10.5)/1.53 $special-font;
  color: $title-text-color;
  text-transform: uppercase;

  padding: 25px 0 40px;
  @media screen and (min-width: 48em) {
    padding-top: 55px;
    padding-bottom: 0px;
  }
  @media screen and (min-width: 75em) {
    padding-top: 60px;
  }
}

.presentation-additional__block {
  padding-bottom: 45px;
  @extend %list;
}

.presentation-additional__text--bold {
  @extend %bold-text-style;
}

.presentation-additional__text--light {
  @extend %main-page-font;
}

.presentation-additional__text--decorative {
  @extend %accent-text;
  padding-top: 50px;
  &::before {
    content: '';
    position: absolute;
    display: none;
    left: -15px;
    top: 10px;
    width: 10px;
    height: 2.5px;
    background-color: $title-text-color;
    transform: skewY(-56deg);

    @media screen and (min-width: 48em) {
      display: block;
    }
    @media screen and (min-width: 75em) {
      width: 11px;
      height: 3.125px;
    }
  }
  @media screen and (min-width: 48em) {
    padding-top: 0px;
    margin-bottom: 0px;
  }
}

.presentation-additional__item {
  &::before {
    content: ' ';
    @extend %pseudos;
    left: -50px;
    top: 25px;
    width: 50px;
    height: 15px;
    transform: rotate(-90deg);
    color: #fff;
    background-color: #ff6b08;
    text-align: center;
    font-family: $section-title-font;
    font-size: remy(12);
    line-height: 1.45;
    clip: rect(6px, auto, auto, auto);
    @media screen and (min-width: 48em) {
      width: 20px;
      height: 10px;
      font-size: remy(7);
      top: 10px;
      left: -15px;
      clip: auto;
    }
    @media screen and (min-width: 75em) {
      width: 23px;
      height: 9px;
      top: 10px;
      font-size: remy(6);
    }
  }
}

.presentation-additional__item:nth-child(1) {
  &::before {
    content: '[001]';
  }
}

.presentation-additional__item:nth-child(2) {
  &::before {
    content: '[002]';
  }
}

.presentation-additional__item:nth-child(3) {
  &::before {
    content: '[003]';
  }
}

.presentation-additional__item:nth-child(4) {
  &::before {
    content: '[004]';
  }
}

.presentation-additional__item:nth-child(5) {
  &::before {
    content: '[005]';
  }
}

.presentation-additional__item:nth-child(6) {
  &::before {
    content: '[006]';
  }
}

.presentation-additional__btn {
  margin-top: 40px;
  padding: 14px 30px;
  font-size: remy(12);
  @media screen and (min-width: 48em) {
    font-size: remy(10);
    padding: 14px 10px;
    margin-top: 0px;
  }
  @media screen and (min-width: 62em) {
    font-size: remy(11);
  }
  @media screen and (min-width: 75em) {
    font-size: remy(11);
    padding: 14px 12px;
  }
  &:hover,
  &:focus {
    @extend %btn-hover;
  }
  &:active {
    @extend %btn-active;
  }
}
