.facts {
    padding-top: 78px;

    @media (min-width: 48em) {
        padding-top: 58px;
    }

    @media (min-width: 48em) {
        padding-top: 0;
    }
}

.facts-main__title {
@extend %sec-title-style ;
text-align: center;
margin-bottom: 40px;

@media (min-width: 48em) {
    text-align: left;
}

@media (min-width: 75em) {
    text-align: left;
}
}

.facts-main__text {
    @extend %sec-title-text-style;
    margin-bottom: 40px;
    position: relative;
    padding-left: 60px;

    &:before {
        @extend %pseudos;
        top: 10px;
        left: 12px;
        content: '';
        width: 26px;
        height: 4px;
        background-color: $title-text-color;
    }
}

.facts-additional__list {
    list-style: none;
    padding: 0;

    @media (min-width: 48em) {
        background: url(../../../images/main-images/decorative-images/schedule.png) bottom right/auto no-repeat ;
    }
}

.facts-additional__item {
    margin-right: 20px;
    margin-bottom: 12px;
    position: relative;

    &:last-child {
        margin-bottom: 0;

        @media (min-width: 48em) {
            margin-bottom: 12px; 
        }
    }

    &:before {
        content: '';
        @extend %pseudos;
        top: 12px;
        left: -20px;
        width: 10px;
        height: 10px;
        background-color: $main-style-color;

        @media (min-width: 48em) {
            display: none;
        }
    }

    @media (min-width: 48em) {
        font-size: remy(8);
    }

    @media (min-width: 75em) {
        width: 165px;
        font-size: remy(9);
    }
}

.facts-additional__subtitle {
    @extend %article-title-style;
    color: $title-text-color;
    font-size: remy(23);
    &__span {
        font-size: remy(13);
        margin-left: 10px;

        @media (min-width: 48em) {
            font-size: remy(9);
        }
    }

    @media (min-width: 48em) {
        font-size: remy(16);
    }

    @media (min-width: 75em) {
        font-size: remy(19);
    }
}

.facts-additional__text--special {
    display: inline;
    font-family: $style-font;
    color: $title-text-color;
    background-color: $addition-style-color;
}

.facts-additional__text--light {
    margin-bottom: 0;
}