.header {
  position: relative;
}

.header__wrapper {
  position: relative;
  max-width: 714px;
  @media (min-width: 75em) {
    max-width: 100%;
  }
}

.header__nav {
  top: 20px;
}

.header__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__img {
  width: 28px;
  height: 17px;
  fill: $banner-title-text-color;
}

.header-logo__link {
  @media (min-width: 75em) {
    position: absolute;
    left: 20px;
  }
}