.only-now {

}

.only-now-main__image {
  margin: 0 auto;
}

.only-now-main__text--decorative {
  @extend %accent-text;
  margin-bottom: 20px;
}

.only-now-main__text--decorative::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 4px;
  width: 10px;
  height: 10px;
  background-position: center;
  background-image: linear-gradient(120deg,transparent 50%,#000,transparent 65%);
  background-repeat: no-repeat;
}

.only-now-main__title {
  font-family: $section-title-font;
  font-size: 18px;
  text-transform: uppercase;
  background-color: $title-text-color;
  color: $banner-title-text-color;
  margin-bottom: 20px;
  text-align: center;
}

.only-now-main__text {
  @extend %sec-title-text-style;
  margin-bottom: 50px;
}

.only-now-main__text::before {
  content: '';
  position: absolute;
  display: block;
  left: -15px;
  top: 10px;
  width: 18px;
  height: 2px;
  background-color: $title-text-color;
}

.only-now-additional {

}

.only-now-additional__subtitle {
  font-family: $special-font;
  font-size: 13.5px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 20px;;
}

.only-now-additional__block {
  
}


.only-now-additional__text--bold{
  font-family: $section-title-font;
  font-size: 13.5px;
}

.only-now-additional__text--bold::before {
  content: '';
  display: inline-block;
  left: -20px;
  width: 40px;
  height: 14px;
  position: absolute;
  transform: rotate(-90deg) translate(-40%, -40%);
  color: #fff;
  background-color: #ff6b08;
  text-align: center;
}

.only-now-additional__first::before {
  content: '[001]';
}

.only-now-additional__second::before {
  content: '[002]'
}

.only-now-additional__third::before {
  content: '[003]'
}

.only-now-additional__fourth::before {
  content: '[004]'
}

.only-now-additional__fifth::before {
  content: '[005]'
}

.only-now-additional__sixth::before {
  content: '[006]'
}

.only-now-additional__text-light {

}
