.future {
    padding-top: 34px;
}

.future--img {
    margin-bottom: 34px;
}

.future--header-wrapper {
    margin-bottom: 22px;
    padding: 0;
}

.future--header {
    display: inline;
    font-family: $section-title-font;
    background-color: $title-text-color;
    color: $banner-title-text-color;
    text-transform: uppercase;
    font-size: remy(18);

    @media (min-width: 640px) {
        font-size: remy(9);
    }
}

.future--call {
    font-family: $section-title-font;
    color: $title-text-color;
margin-bottom: 14px;

@media (min-width: 640px) {
    font-size: remy(9);
}
}

.future--about {
    margin-bottom: 46px;

    &__span {
        color: $title-text-color;
        background-color: $addition-style-color;
    }

    @media (min-width: 640px) {
        font-size: remy(9);
    }
}

.future--second-header {
    display: inline;
    font-family: $section-title-font;
    background-color: $title-text-color;
    color: $banner-title-text-color;
    text-transform: uppercase;
    font-size: remy(18);

    @media (min-width: 640px) {
        font-size: remy(27);
    }
}

.future--more {
    font-family: $style-font;
    color: $title-text-color;
    margin-bottom: 45px;
    position: relative;
    padding-left: 10px;

    &:before {
        position: absolute;
        top: 10px;
        left: -12px;
        content: '';
        display: block;
        width: 14px;
        height: 4px;
        background-color: $title-text-color;

        @media (min-width: 640px) {
            top: 2px;
            left: -22px;
        }
    }

    @media (min-width: 640px) {
        font-size: remy(9);
        margin-bottom: 40px;
    }
}

.future--list {
    list-style: none;
    padding: 0;
}

.future--item {
    margin-bottom: 30px;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }
    
    &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: -16px;
        display: block;
        width: 6px;
        height: 6px;
        background-color: $title-text-color;
        @media (min-width: 640px) {
            top: 2px;
        }
    }
    @media (min-width: 640px) {
        margin-bottom: 20px;
    }
}

.future--item-header {
    text-transform: uppercase;
    font-family: $special-font;
    color: $title-text-color;
    font-size: remy(13.5);
    margin-bottom: 22px;

    @media (min-width: 640px) {
        font-size: remy(9);
        margin-bottom: 8px;
    }
}

.future--item-text {
    @media (min-width: 640px) {
        font-size: remy(8);
    }
}