.list-start__item {
  list-style: none;
}

.course {
  padding: 24px 0 50px;
}

.course__title {
  margin-bottom: 15px;
}

.course__desc {
  position: relative;
  font-family: $style-font;
  padding-bottom: 35px;

  &:before  {
    @extend %pseudo-dash;
    left: -13px;
    top: 10px;

    @media (min-width: 48em) {
      left: 0;
      top: 3px;
    }
  }

  @media (min-width: 48em) {
    padding-left: 50px;   
  }
}

.course__devices-img {
  margin-bottom: 30px;
}

.course__list-start {
  padding-left: 20px;
}

.training-instruction__title {
  font-size: 0;
  margin-bottom: 12px;
}

.training__desc,
.instruction__desc {
  @include media-font(remy(8));
  @include media-font(remy(9), 1.5, 75em);
}

.list-start__desc {
  @include media-font(remy(8));
  @include media-font(remy(9), 1.5, 75em);
}

.list-start__strike {
  font: remy(17) $special-font;
  color: $price-strike-color;
  @include media-font(remy(8));
  @include media-font(remy(9), 1.5, 75em);
}

.list-start__today {
  font: remy(20)/1.2 $special-font;
  color: $banner-bg-color;

  @include media-font(remy(9));
  @include media-font(remy(10), 1.5, 75em);
}

.list-start__today-price {
  font-size: remy(36);
  @include media-font(remy(17));
  @include media-font(remy(19), 1.5, 75em);
}

.course__price {
  @include media-font(remy(8));
  @include media-font(remy(9), 1.5, 75em);

  @media (min-width: 48em) {
    max-width: 70px;
  }
}