.important {
  margin-bottom: 80px;

  @media screen and (min-width: 48em) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: 75em) {
    margin-bottom: 120px;
  }
}

.important-additional__title,
.important-main__title {
  @extend %sec-title-style;
}

.important-additional__title {
  margin-left: 60%;
  transform: translateX(-50%);
  margin-bottom: 20px;

  @media screen and (min-width: 48em) {
    display: none;
  }
}

.important-main__title {
  display: none;

  @media screen and (min-width: 48em) {
    display: block;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 75em) {
    margin-bottom: 34px;
  }
}

.important-additional__block {
  background-color: #052139;
  padding: 30px 10px;
  margin-bottom: 40px;

  @media screen and (min-width: 24em) {
    padding: 40px 30px;
  }

  @media screen and (min-width: 27em) {
    padding: 50px 40px;
  }

  @media screen and (min-width: 30em) {
    padding: 60px 50px;
  }

  @media screen and (min-width: 48em) {
    padding: 60px 50px;
    margin-top: 20px;
  }

  @media screen and (min-width: 75em) {
    padding: 70px;
  }
}

.important-additional__subblock {
  @include flex-center('sp-between');
}

.important-additional__text,
.important-additional__text--special {
  @extend %sec-title-text-style;
}

.important-additional__text {
  max-width: 95px;
  color: $banner-title-text-color;

  @media screen and (min-width: 48em) {
    max-width: 65px;
  }

  @media screen and (min-width: 75em) {
    max-width: 70px;
  }
}

.important-additional__price-subblock {
  max-width: 70px;
}

.important-additional__text--special {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 4px;
  line-height: 1.1;
  background-color: $addition-style-color;
}

.important-additional__price {
  position: relative;
  @extend %article-title-style;
  color: $banner-title-text-color;
  margin-left: 50px;

  @media screen and (min-width: 48em) {
    font-size: remy(14);
  }

  &::before {
    @extend %pseudos;
    content: '';
    height: 1px;
    width: 36px;
    left: -54px;
    top: 10px;
    background-color: $banner-title-text-color;

    @media screen and (min-width: 48em) {
      left: -50px;
    }
  }
}

.important-additional__price--special {
  margin: 0;
  font-family: $special-font;
  font-size: remy(24);
  margin-left: 10px;
  color: $banner-title-text-color;

  @media screen and (min-width: 30em) {
    font-size: remy(40);
    margin-left: 50px;
  }

  @media screen and (min-width: 48em) {
    margin-left: 20px;
    font-size: remy(30);
  }
}

.important-additional__price--currency {
  margin: 0;
  @extend %article-title-style;
  font-size: remy(16);
  color: $banner-title-text-color;
  margin-top: 14px;

  @media screen and (min-width: 48em) {
    margin-top: 10px;
  }
}

.important-main__text--bold {
  @extend %bold-text-style;

  @media screen and (min-width: 48em) {
    margin-bottom: 6px;
  }
}

.important-main__text--light {
  @extend %main-page-font;
}

.important-main__text-decorative {
  @extend %accent-text;
  position: relative;
  margin-bottom: 30px;

  &::before {
    @extend %pseudo-slash;
    left: -30px;
    top: 18px;

    @media screen and (min-width: 48em) {
      left: -12px;
      top: 12px;
    }
  }
}

.important-main__button {
  margin-left: 48px;

  @media screen and (min-width: 48em) {
    margin-left: 36;
  }
}