.just-do-it {
  margin-bottom: 40px;

  @media screen and (min-width: 48em) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 75em) {
    margin-bottom: 80px;
  }
}

.just-do-it-main {
  position: relative;

  &::before {
    content: 'GO';
    font-size: 100px;
    transform: rotate(90deg);
    font-family: $special-font;
    color: rgba(0, 0, 0, 0.04);
    position: absolute;
    left: 2%;
    top: 0;
    z-index: -1;

    @media screen and (min-width: 48em) {
      font-size: 150px;
      left: 52%;
    }
  }
}

.just-do-it-main__title {
  @extend %sec-title-style;
  margin-bottom: 16px;
}

.just-do-it-main__text {
  @extend %sec-title-text-style;
  position: relative;
  padding-left: 20px;
  margin-bottom: 30px;

  &::before {
    @extend %pseudo-dash;
    top: 9px;
    left: -14px;

    @media screen and (min-width: 48em) {
      top: 5px;
      left: -26px;
    }
  }
}

.just-do-it-main__button {
  margin-bottom: 64px;
}

.just-do-it-additional__block:nth-of-type(1)::before {
  @extend %pseudos;
  content: 'P.S. :';
  font-size: remy(20);
  left: 14;
  top: -30px;
  font-family: $special-font;

  @media screen and (min-width: 48em) {
    top: -3px;
    left: -52px;
  }
}

.just-do-it-additional__text--bold {
  @extend %bold-text-style;
}

.just-do-it-additional__text--light {
  @extend %main-page-font;
}

.just-do-it-additional__text--decorative {
  @extend %accent-text;
  margin-top: 16px;
  margin-left: auto;

  @media screen and (min-width: 48em) {
    margin-top: 10px;
    margin-right: -24px;
  }

  @media screen and (min-width: 75em) {
    margin-right: -30px;
  }
}
