.banner {
  padding-top: 60px;
  text-transform: uppercase;
  color: $banner-title-text-color;
  background: url('../images/Banner-background/banner-shadow.png') no-repeat center, $banner-bg-color;
  background-size: cover;

  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    background: url('../images/Banner-background/banner-shadow@2x.png') no-repeat center, $banner-bg-color, ;
    background-size: cover;
  }

  @media (min-width: 48em) {
    padding-top: 85px;
    background: url('../images/banner-bg/devs-work.png') bottom 0 right 22% no-repeat, url('../images/Banner-background/banner-shadow.png') no-repeat center, $banner-bg-color;
    @media (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi) {
      background: url('../images/banner-bg/devs-work@2x.png') bottom 0 right 22% no-repeat, url('../images/Banner-background/banner-shadow@2x.png') no-repeat center, $banner-bg-color;
    }
  }
}

.banner__title {
  z-index: 1;
  font: remy(30)/1.3 $special-font;
  @include media-font(remy(45), 1.25);
  @include media-font(remy(50), 1.25, 75em);
}

.banner__desc {
  padding: 0 25px;
  z-index: 1;
  font-family: $section-title-font;
  @include media-font(remy(8), 1.7);
  @include media-font(remy(9), 1.7, 75em);

  &:before,
  &:after {
    @extend %pseudos;
    font-size: remy(22.5);
    color: $btn-hover-bg;
  }

  &:before {
    line-height: 0;
    content: "<";
    left: 0;
    top: 8px;
  }

  &:after {
    line-height: 0;
    content: "/>";
    right: 5px;
  }
}

.banner__company {
  font: remy(120)/1.2 $special-font;
  @include media-font(remy(236), 1.2);
  @include media-font(remy(263), 1.2, 75em);
  color: rgba($banner-company-text-color, $banner-text-opacity);

  @media (min-width: 48em) {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -75%)
  }
}

.article-career__title {
  font: remy(13.5)/1.44 $special-font;
  @include media-font(remy(10.5), 1.6);
  @include media-font(remy(11.3), 1.6, 75em);
}

.article-career__desc {
  text-transform: none;
  color: $banner-text-color;
  @include media-font(remy(10), 1.35);
  @include media-font(remy(10), 1.5, 75em);
}

.banner__btn {
  margin-bottom: 40px;
  padding: 16px 0;
  font-size: remy(12);
  @include media-font(remy(7));
  @extend %btn-active;

  &:hover {
    @extend %btn-hover;
  }

  &:active {
    @extend %btn-active;
  }

  @media (min-width: 48em) {
    margin-bottom: 66px;
  }
}

.banner__page-num {
  font-family: $style-font;
  transform: rotate(-90deg);
  padding-left: 30px;
}

.banner__social {
  position: relative;
  bottom: 150px;
}

.banner__img {
  fill: $banner-title-text-color;
  width: 14px;
  height: 11px;

  &:hover {
    fill: $main-style-color;
  }

  &--facebook {
    height: 14px;
    margin-right: 8px;
  }
}