.list__title {
    font-family: $special-font;
    font-size: remy(13.5);
    line-height: 1.33;
    text-transform: uppercase;
    color: $title-text-color;

    @media (min-width: 48em) {
        font-size: remy(16.8);
    }

    @media (min-width: 75em) {
        font-size: remy(19);
    }

    &--numbers {
        font-size: remy(24);

        &-rotate {
            font-family: $section-title-font;
            color: $banner-title-text-color;
            background-color: $main-style-color;

            @media (min-width: 48em) {
                font-size: remy(5.6);
            }
        
            @media (min-width: 75em) {
                font-size: remy(6);
            }
        }
    }
}