.section__text {
    font-family: $main-page-font;
    font-size: remy(13.5);
    line-height: 1.45;
    color: $main-text-color;

    &--acented {
        background-color: $addition-style-color;
    }

    &--alternate {
        color: $banner-title-text-color;
        background-color: $title-text-color;
    }

    &--big {
        font-family: $special-font;
        font-size: remy(10);
        text-transform: uppercase;
    }

    &--action {
        font-family: $style-font;
        color: $main-style-color;
    }
  
    @media screen and (min-width: 48em) {
      font-size: remy(8);
    }
  
    @media screen and (min-width: 75em) {
      font-size: remy(9);
    }
  }

  .responses__text {
    font-size: remy(5.5);
    padding: 0;
    margin: 0;
        
    @media (min-width: 48em) {
        font-size: remy(8);
    }

    @media (min-width: 75em) {
        font-size: remy(8.8);
    }
}