.section__title {
  font-family: $special-font;
  font-size: remy(18);
  line-height: 1.33;
  text-transform: uppercase;
  color: $title-text-color;

  &--alternate {
    color: $banner-title-text-color;
    background-color: $title-text-color;

    &-big {
      font-size: 30px;

      @media screen and (min-width: 48em) {
        font-size: remy(45);
      }

      @media screen and (min-width: 75em) {
        font-size: remy(50);
      }
    }
  }

  &--additional {
    font-size: remy(15);

    @media screen and (min-width: 48em) {
      font-size: remy(10);
    }

    @media screen and (min-width: 75em) {
      font-size: remy(11);
    }
  }

  &--decorative {
    font-size: remy(98);
    opacity: 0.05;

    @media screen and (min-width: 48em) {
      font-size: remy(140);
    }

    @media screen and (min-width: 75em) {
      font-size: remy(156);
    }
  }

  &--acented {
    font-family: $section-title-font;
    color: $banner-title-text-color;
    background-color: $title-text-color;

    @media screen and (min-width: 48em) {
      font-size: remy(8);
    }

    @media screen and (min-width: 75em) {
      font-size: remy(9);
    }
  }

  @media screen and (min-width: 48em) {
    font-size: remy(27);
  }

  @media screen and (min-width: 75em) {
    font-size: remy(30);
  }
}

.section__title--secondary {
  font-family: $style-font;
  font-size: remy(14);
  line-height: 1.45;
  color: $title-text-color;

  &-alternate {
    color: $banner-title-text-color;
    background-color: $title-text-color;
  }

  &-acented {
    background-color: $addition-style-color;
  }

  @media screen and (min-width: 48em) {
    font-size: remy(9);
  }

  @media screen and (min-width: 75em) {
    font-size: remy(10);
  }
}

.section__title--third {
  font-family: $section-title-font;
  font-size: remy(13.5);
  line-height: 1.45;
  color: $title-text-color;

  @media screen and (min-width: 48em) {
    font-size: remy(9);
  }

  @media screen and (min-width: 75em) {
    font-size: remy(10);
  }
}

.responses__title {
  font-family: $special-font;
  color: $title-text-color;
  font-size: remy(5.6);

  @media (min-width: 48em) {
    font-size: remy(8);
  }

  @media (min-width: 75em) {
    font-size: remy(8.8);
  }
}
