.form__placeholder {
    font-family: $main-page-font;
    font-size: remy(9);
    line-height: 1.45;
    color: $main-text-color;

    @media screen and (min-width: 48em) {
        font-size: remy(8);
      }
    
      @media screen and (min-width: 75em) {
        font-size: remy(9);
      }
}

.form__input-name {
    font-family: $section-title-font;
    font-size: remy(8);
    line-height: 1.45;
    color: $title-text-color;
    opacity: 0.36;
  
    @media screen and (min-width: 48em) {
      font-size: remy(7);
    }
  
    @media screen and (min-width: 75em) {
      font-size: remy(7.5);
    }
  }